h1 {
    display: block;
    max-width: 540px;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(88, 13, 158);
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-fluid {
    font-size: 12px;
    background-color: rgb(221, 245, 245);
}
span {
    font-style: italic;
    font-weight: 600;
}
img {
   width: 100%;
}
.card {
    border: solid 1px rgb(88, 13, 158);
}
select {
    margin-top: 15px;
    margin-bottom: 15px;
}